- content_for :sidebar do
  %h3
    The Wedding
  %ul
    %li{:'data-url2' => wedding_path(@wedding)}
      Home
    %li About Us
    %li Ceremony & Reception

    %li Timetable
    %li Directions
    %li The Day After

  %h3
    Organisation
  %ul
    %li RSVP Online
    %li Gift List
    %li Where To Stay