- content_for :sidebar do
  %h3
    The Wedding
  %ul
    %li{:'data-url' => external_path(@wedding.param_name, name: :home )}
      Home
    %li{:'data-url' => external_path(@wedding.param_name, name: :about_us )}
      About Us
    %li{:'data-url' => external_path(@wedding.param_name, name: :ceremony_and_reception )}
      Ceremony & Reception

    %li{:'data-url' => external_path(@wedding.param_name, name: :timetable )}
      Timetable
    %li{:'data-url' => external_path(@wedding.param_name, name: :directions )}
      Directions
    %li{:'data-url' => external_path(@wedding.param_name, name: :day_after )}
      The Day After

  %h3
    Organisation
  %ul
    %li{:'data-url' => external_path(@wedding.param_name, name: :rsvp )}
      RSVP Online
    %li{:'data-url' => external_path(@wedding.param_name, name: :gift_list )}
      Gift List
    %li{:'data-url' => external_path(@wedding.param_name, name: :where_to_stay )}
      Where To Stay