- content_for :sidebar do
  %h3
    The Wedding
  %ul
    %li{:'data-url' => external_path(@wedding.param_name, name: :home )}
      Home
    %li{:'data-url' => external_path(@wedding.param_name, name: :about_us )}
      About Us
    %li Ceremony & Reception

    %li Timetable
    %li Directions
    %li The Day After

  %h3
    Organisation
  %ul
    %li RSVP Online
    %li Gift List
    %li Where To Stay