- content_for :head do
  == #{@wedding.name.titlecase}'s
  Wedding
- content_for :buttons do
  = link_to :weddings, weddings_path

= render :partial => 'weddings/sidebar'

%table
  %thead
    %tr
      %td.name Name
      %td.email Email
      %td.attendance Attend
      %td.bus_required Bus
      %td.dietary Dietary
  %tbody
    - @rsvps.each do |rsvp|
      = render :partial => 'show', :locals => {:rsvp => rsvp}
