- content_for :sidebar do
  %ul
    %li{:'data-url' => wedding_path(@wedding)}
      Details
    %li{:'data-url' => wedding_guests_path(@wedding)}
      Guests
    %li{:'data-url' => '/gifts'}
      Gifts
    %li{:'data-url' => wedding_addresses_path(@wedding)}
      Addresses
    %li{:'data-url' => '/hotel'}
      Hotels
    %li{:'data-url' => '/taxi'}
      Taxi's
    %li{:'data-url' => wedding_texts_path(@wedding)}
      External Texts
