- content_for :sidebar do
  %ul
    %li{:'data-url' => wedding_path(@wedding)}
      Details
    %li{:'data-url' => wedding_guests_path(@wedding)}
      Guests
    %li{:'data-url' => wedding_addresses_path(@wedding)}
      Addresses
    %li{:'data-url' => wedding_details_path(@wedding)}
      External Texts
    %li{:'data-url' => terms_and_conditions_wedding_path(@wedding)}
      Terms and Conditions
