- content_for :head do
  Setup Your Wedding

- content_for :buttons do
  = link_to :weddings, weddings_path

= form_for @wedding do |f|
  = render :partial => 'fields', :locals => {:f => f}

  .button
    = f.submit :create