$lightest: #E5E6D3;
$light: #B58389;
$medium: #E19E95;
$dark: #3F1C29;
$darkest: #65324B;

.ui-datepicker {
  padding: 3px;
  background-color: white;
  border: solid 2px #999;
  display: none;
}
.ui-datepicker-header {}
.ui-datepicker-prev {
  float: left;
  font-size: 10px;
  color: #444;
}
.ui-datepicker-next {
  float: right;
  font-size: 10px;
  color: #444;
}
.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
.ui-datepicker-month {

}
.ui-datepicker-calendar tr {
  background: none;
}
table.ui-datepicker-calendar {
  font-size: 12px;
  a {
    text-decoration: none;
    color: #444;
  }

  tbody {
    tr:hover {
      background: none;
    }
    td {
      text-align: center;

      &:hover {
        background: $light;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }

    .ui-datepicker-week-end {
      background-color: #CCC;
    }
  }
}

.ui-datepicker-other-month {
  background-color: #DDD;
}
.ui-datepicker-buttonpane {}
.ui-datepicker-current {}
.ui-datepicker-close {}