$lightest: #E5E6D3;
$light: #B58389;
$medium: #E19E95;
$dark: #3F1C29;
$darkest: #65324B;

#editor {
  .cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: none;
    background: rgba(#999, 0.6);
    width: 100%;
    left: 0;
    z-index: 1000;

    #editor {
      width: 400px;
      border: solid black 2px;
      border-radius: 10px;
      background: white;
      margin: 150px auto;
      padding: 20px;

      textarea {
        width: 400px;
        height: 150px;
      }
    }
  }

  .container {
    position: relative;
    margin-left: -10px;
    padding-left: 10px;

    &.editing {
      min-height: 73px;
    }

    &:hover {
      border: solid 2px #CCC;
      border-radius: 0 10px 10px 10px;
      margin: -10px -2px 4px -12px;
      padding-top: 3px;
      padding-bottom: 3px;

      &.H1 {
        margin-top: 20px;

      }

      .editors {
        display: block;
      }

      .element_image {
        padding-top: 5px;
        border-radius: 10px;
      }
    }


    .editors {
      position: absolute;
      top: -2px;
      left: -18px;
      display: none;
      overflow: visible;
      background: #CCC;
      border-radius: 8px 0 0 8px;
      width: 26px;
      font-weight: normal;
      color: black;
      font-size: 16px;

      > div {
        // margin: 4px 0;
        vertical-align: middle;
        overflow: visible;
        height: 22px;
        width: 24px;
        padding: 4px 4px 0;


        &:last-child {
          height: 24px;
        }

        .img {
          font-family: Sosa;
          position: absolute;
          width: 18px;
          height: 18px;
          vertical-align: middle;
          text-align: center;
          border-radius: 4px;
          line-height: 1em;

          &:hover {
            color: blue;
          }
        }
      }

      ol.options {
        position: absolute;
        margin: -3px 0 0 20px;
        padding: 1px 1px;
        display: none;
        border: solid 1px #666;
        background: white;
        z-index: 100;

        li {
          position: relative;
          padding: 0 5px;
          display: block;
          line-height: 1.2em;
          white-space: nowrap;

          a { text-decoration: none; }
          a:hover { text-decoration: underline; }
          a, a:hover, a:visited { color: $light; }
          &.selected a { color: $darkest; }
        }

        > a {
          padding: 0 5px;
          line-height: 1.2em;
          display: block;
          text-decoration: none;
          color: $light;

          &:hover { text-decoration: underline; }
          &:hover, &:visited { color: $light; }
        }


        .header {
          font-weight: bold;
          // line-height: 2em
        }
      }
      > div:hover .options {
        display: block;
      }
    }
  }
}