.TITLE {
  font-family: XiomaraScript;
  font-size: 30px;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.H1 {
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

.H2 {
  font-weight: bold;
  font-size: 18px;
  color: #999;
}

.PENDING {
  margin: 20px auto;
  text-align: center;
}

.ADDRESS {
  margin-left: 20px;
  p {
    margin: 0;
    line-height: 1.1em;
  }
}

.TIMETABLE {
  p {
    margin: 0;
    display: inline-block;
  }

  p:first-child {
    width: 100px;
    color: #666;
    font-weight: bolder;
  }
}

.element_image {
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #DDD;
  background-position: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: right;
  margin-left: 20px;

  &.even {
    float: left;
    margin-left: 0;
    margin-right: 20px;
  }
  img {
    vertical-align: top;
  }
}

.where_to_stay .element_image.even {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}

.container p {
  margin: 5px 0px;
}

