.TITLE {
  font-family: XiomaraScript;
  font-size: 30px;
  text-align: center;
  color: #666;
}

.H1 {
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

.H2 {
  font-weight: bold;
  font-size: 18px;
  color: #999;
}

.PENDING {
  margin: 20px auto;
  text-align: center;
}