h2 {
  margin: 5px 0 10px;
}

.label {
  color: #777;
  font-size: 16px;
  margin: 5px 0 0px 0;

  .errors {
    color: red;
  }
}
.comment {
  font-style: italic;
  font-size: 80%;
  margin-top: -20px;

}

.value {
  font-size: 16px;
  margin: 5px 0 10px 0;
}

#new_address, .address {
  .container {
    overflow: hidden;
  }

  .label {
    float: left;
    width: 150px;
    margin: 5px 0 0;
  }
  .value {
    width: 300px;
    display: inline-block;
    margin: 0;
  }
}

.address {
  margin-bottom: 20px
}

input {
  font-size: 16px;
}

.double_space {
  a { padding-bottom: 10px;}

}

.image {
  float: right;
  position: relative;

  .tag {
    display: inline-block;
    overflow: hidden;
    border: solid 2px #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    img {
      vertical-align: top;
    }
  }
}

.center { text-align: center; }
.hidden { display: none; }
.float_right {
  float: right;
  padding-right: 10px;
  img {
    width: 20px;
  }
}

.title {
  font-weight: bold;
  .actions {
    font-weight: normal;
    margin-left: 5px;
    font-size: 80%;
    display: inline-block;
    vertical-align: top;

    a, a:visited, a:hover { color: grey }
  }
}

div:hover > .title > .actions  {
  a, a:visited, a:hover {
    color: blue
  }
}
