$lightest: #E5E6D3;
$light: #B58389;
$medium: #E19E95;
$dark: #3F1C29;
$darkest: #65324B;

ul.selectable {
  padding: 0 20px;
  list-style-type: none;
  border-bottom: 3px solid $medium;
  margin-bottom: -3px;

  li.select_element {
    display: inline-block;
    // float: left;
    border: 3px solid $medium;
    margin: 0 5px -3px 5px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-color: $lightest;

    &.selected {
      margin-bottom: -3px;
      border-bottom: 3px solid #EED8CE;
      background: #EED8CE;
    }

    a, a:hover, a:visited {
      color: #222;
      text-decoration: none;
      display: block;
      padding: 5px 10px;
    }

    &:hover {
      background: $medium;
      border-bottom: 3px solid $medium;
    }
  }
}