<!DOCTYPE html>
<html>
<head>
  <title>WeddingGuest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="screen">
    <div id='head'>
      <h1>Setup Your Wedding</h1>
    </div>
    <div id='body'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
